/* CSS styles */
h1 {
font-family: Impact, sans-serif;
color: #CE5937;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* Mouse-over effects */
.sliderM:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.sliderU:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.sliderR:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.sliderM {
  -webkit-appearance: None;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
    background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderM::-webkit-slider-thumb {
  -webkit-appearance: None;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
    background: #ffde00;
  cursor: pointer;
}

.sliderU {
  -webkit-appearance: None;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
    background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderU::-webkit-slider-thumb {
  -webkit-appearance: None;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
    background: #00BFFF;
  cursor: pointer;
}

.sliderR {
  -webkit-appearance: None;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
    background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderR::-webkit-slider-thumb {
  -webkit-appearance: None;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
    background: #B445FE;
  cursor: pointer;
}

.sliderAB {
  -webkit-appearance: None;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
    background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderAB::-webkit-slider-thumb {
  -webkit-appearance: None;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
    background: #04AA6D;
  cursor: pointer;
}


.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #CE5937/*#04AA6D*/;
  cursor: pointer;
}

